1. Write a program to reverse a string.

In [4]:
string = str(input('Enter the sentence:'))
print(string)
a=string[::-1]
print(a)

Enter the sentence: ent

ent
tne

2. Check if a string is a palindrome.

In [8]:
string1 = str(input('Enter the sentence:'))
print(string1)
reverse_string=string1[::-1]
print(reverse_string)
if string1==reverse_string:
    print("string is palidrome")
else:
    print("Not palindrome")

Enter the sentence: racecar

racecar
racecar
string is palidrome

3. Convert a string to uppercase.

In [1]:
l_string = str(input('Enter the sentence:'))
print(l_string)
upper_case=l_string.upper()
print(upper_case)

Enter the sentence: abcdef

abcdef
ABCDEF

4.Convert a string to lowercase.

In [2]:
u_string = str(input('Enter the sentence:'))
print(l_string)
lower_case=u_string.lower()
print(lower_case)

Enter the sentence: ABCDEF

abcdef
abcdef

5. Count the number of vowels in a string.

In [6]:
letters =str(input('Enter the sentence:'))
print(letters)

count =0
for i in letters:
    if i in 'aeiou':
        count+=1
print("vowels count:",count)

Enter the sentence: cat

cat
vowels count: 1

6. Count the number of consonants in a string.

In [7]:
letters =str(input('Enter the sentence:'))
print(letters)

count =0
for i in letters:
    if i not in 'aeiou':
        count+=1
print("consonants count:",count)

Enter the sentence: dog

dog
consonants count: 2

7. Remove all whitespaces from a string.

In [3]:
stripe= str(input('Enter the sentence:'))
print(stripe)
a ="".join(stripe.replace(" ",""))
print(a)

Enter the sentence: all is well

all is well
alliswell

8.Find the length of a string without using the `len()` function.

In [8]:
sen= str(input('Enter the sentence:'))
print(sen) 
count=0
for i in sen:
    if i!= None:
        count+=1
print("len_of_sentence:",count)

Enter the sentence: al

al
len_of_sentence: 2

9. Check if a string contains a specific word.

In [6]:

normal_sentence = str(input('Enter the sentence:'))
specified_word = str(input('Enter the spc sentence:'))
print(normal_sentence,specified_word)
if specified_word in normal_sentence:
    print("Substring found in the string.")
else:
    print("Substring not found in the string.")

Enter the sentence: hi hello
Enter the spc sentence: helo

hi hello helo
Substring not found in the string.

10.Replace a word in a string with another word.

In [7]:
normal_sentence = str(input('Enter the sentence:'))
print("enter sentence :",normal_sentence,"specific:",replace_word)
changed_sentence = normal_sentence.replace("rohan","mary")
print(changed_sentence)

Enter the sentence: hi iam rohan

enter sentence : hi iam rohan specific: mary
hi iam mary

11.Count the occurrences of a word in a string.

In [10]:
counting_word = str(input('Enter the sentence:'))
print("enter sentence :",counting_word)
print("counting a word:",counting_word.count("bharath"))

Enter the sentence: bharath,bharath

enter sentence : bharath,bharath
counting a word: 2

12.Find the first occurrence of a word in a string.

In [3]:
occr = str(input("enter the senetence:"))
print(occr)
word = occr.split()
print(word[0])

enter the senetence: chandan raj cl

chandan raj cl
chandan

13. Find the last occurrence of a word in a string.

In [4]:
occr = str(input("enter the senetence:"))
print(occr)
word = occr.split()
print(word[-1])

enter the senetence: chandan raj cl

chandan raj cl
cl

14. Split a string into a list of words.

In [5]:
occr = str(input("enter the senetence:"))
print(occr)
word = occr.split()
print(word)

enter the senetence: chandan raj cl

chandan raj cl
['chandan', 'raj', 'cl']

15. Join a list of words into a string.

In [11]:
list_words = list(input("enter the list of word:"))
print(list_words)
joined_words = "".join(list_words)
print(joined_words)

enter the list of word: chandan raj

['c', 'h', 'a', 'n', 'd', 'a', 'n', ' ', 'r', 'a', 'j']
chandan raj

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [20]:
list_words = str(input("enter the list of word:"))

print(list_words)
words = list_words.split()
print(words)
joined_words = "_".join(words)
print(joined_words)

enter the list of word: Convert a string where

['Convert', 'a', 'string', 'where']
Convert_a_string_where

17. Check if a string starts with a specific word or phrase.

In [59]:
spec=str(input("enter the sentence:"))
specified_word=str(input("enter the specified sentence:"))

chec_spec = spec.find(specified_word)
if chec_spec == 0:
    print ("word start with specfied word")
else :
    print("not print")

enter the sentence: one two three
enter the specified sentence: one

word start with specfied word

18.Check if a string ends with a specific word or phrase.

In [62]:
ends_spec_word=str(input("enter the sentence:"))
specified_word=str(input("enter the specified sentence:"))
boolean_value = ends_spec_word.endswith(specified_word)
if boolean_value == True:
    print("it ends with specified_word")
else:
    print("na")

enter the sentence: one two three
enter the specified sentence: three

it ends with specified_word

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [63]:
normal_case = str(input("enter the sentence:"))
title_case=normal_case.title()
print(title_case)

enter the sentence: one two three

One Two Three

20. Find the longest word in a string.

In [80]:
normal_words = str(input("enter the sentence:"))
split_words =normal_words.split()
longest_word = max(split_words, key=len)
num = len(longest_word)
print(f'longest word is ({longest_word}) and max_num of letters in a word ({num})')

enter the sentence: weuffehb duihdwhdh dwhfuhewuohfuhh

longest word is (dwhfuhewuohfuhh) and max_num of letters in a word (15)

21. Find the shortest word in a string.

In [84]:
normal_words = str(input("enter the sentence:"))
split_words =normal_words.split()
short_word = min(split_words, key=len)
num = len(short_word)
print(f'longest word is ({short_word}) and max_num of letters in a word ({num})')

enter the sentence: dqwugd dbewbgcigcch n

longest word is (n) and max_num of letters in a word (1)

22. Reverse the order of words in a string.

In [16]:
#str(input("enter the sentence:"))
order = ("hsgsfvsnaah djqwbdkwu jdbewidgiui")
new_order=[]
w = order.split()
for i in w:
    new_order.insert(0,i)
print(" ".join(new_order))

jdbewidgiui djqwbdkwu hsgsfvsnaah

23. Check if a string is alphanumeric.

In [15]:
alnu= "123andgv"
value=print(alnu.isalnum())

True

24. Extract all digits from a string.

In [40]:
all_string=("there 250 MNC company start hiring! ")
numstring=[]
new_string=all_string.split()

for i in new_string:
    if i.isdigit():
        numstring.append(i)
print(F"In sentence contained number is {numstring}")

In sentence contained number is ['250']

25. Extract all alphabets from a string.

In [42]:
all_string=("there 250 MNC company start hiring ! ")
sen_string=[]
new_string=all_string.split()

for i in new_string:
    if i.isalpha():
        sen_string.append(i)
print(F"In sentence contained number is {sen_string}")

In sentence contained number is ['there', 'MNC', 'company', 'start', 'hiring']

26. Count the number of uppercase letters in a string.

In [51]:
n_string=("xAxDxGcCcBvBvfdvRFdsvBHF")
upper_case=[]
for i in n_string:
    if i.isupper():
        upper_case.append(i)

print(upper_case)
print(f"the number of upper case letter in metioned string is {len(upper_case)} ")

['A', 'D', 'G', 'C', 'B', 'B', 'R', 'F', 'B', 'H', 'F']
the number of upper case letter in metioned string is 11

27. Count the number of lowercase letters in a string.

In [52]:
n_string=("xAxDxGcCcBvBvfdvRFdsvBHF")
upper_case=[]
for i in n_string:
    if i.islower():
        upper_case.append(i)

print(upper_case)
print(f"the number of upper case letter in metioned string is {len(upper_case)} ")

['x', 'x', 'x', 'c', 'c', 'v', 'v', 'f', 'd', 'v', 'd', 's', 'v']
the number of upper case letter in metioned string is 13

28. Swap the case of each character in a string.

In [54]:
n_string=("xAxDxGcCcBvBvfdvRFdsvBHF")
swaped_sentence=n_string.swapcase()
print(swaped_sentence)

XaXdXgCcCbVbVFDVrfDSVbhf

29. Remove a specific word from a string.

In [61]:
n_string=("Hi!Iam joined PWskills")
striped_string=n_string.replace("joined","")
print(striped_string)

Hi!Iam  PWskills

30. Check if a string is a valid email address

In [63]:
import re
email="pwskill@gmail.com"
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
if(re.fullmatch(regex, email)):
        print("Valid Email")
else:
    print("na")

Valid Email

31.Extract the username from an email address string

In [70]:
import re
email="pwskill@gmail.com"
regex =r'^([a-zA-Z0-9._%+-]+)'

match = re.search(regex, email)
print(match)

<re.Match object; span=(0, 7), match='pwskill'>

32. Extract the domain name from an email address string.

In [71]:
import re
email="pwskill@gmail.com"
regex =r'@([a-zA-Z0-9.-]+)$'

match = re.search(regex, email)
print(match)

<re.Match object; span=(7, 17), match='@gmail.com'>

 33.Replace multiple spaces in a string with a single space.

In [78]:
import re
new_sen = "hjcbjkc    ccneoiwfh   cceiowho  ejfhewoh           fwehfi   jhfherho"
removed_space=re.sub(r'\s+', ' ', new_sen)
print(removed_space)

hjcbjkc ccneoiwfh cceiowho ejfhewoh fwehfi jhfherho

34. Check if a string is a valid URL.

In [79]:
import re

def is_valid_url(url):
    # Define a regular expression pattern for a basic URL validation
    url_pattern = re.compile(
        r'^(https?|ftp):\/\/'  # Match the scheme (http, https, ftp)
        r'([a-zA-Z0-9.-]+)'     # Match the domain (allowing letters, digits, dots, and hyphens)
        r'(\.[a-zA-Z]{2,})'     # Match the top-level domain (at least 2 characters)
        r'(:\d+)?'              # Match an optional port number
        r'(\/\S*)?$'            # Match an optional path
    )

    return bool(re.match(url_pattern, url))

# Example usage:
url_to_check = "https://www.example.com/path/to/resource"
if is_valid_url(url_to_check):
    print(f"{url_to_check} is a valid URL.")
else:
    print(f"{url_to_check} is not a valid URL.")

https://www.example.com/path/to/resource is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [80]:
import re

def extract_protocol(url):
    # Define a regular expression pattern to match the protocol
    pattern = re.compile(r'^([a-zA-Z]+)://')

    # Use re.match to find the match at the beginning of the string
    match = pattern.match(url)

    # Check if there is a match and extract the protocol
    if match:
        protocol = match.group(1)
        return protocol
    else:
        return None

# Example usage
url = "https://www.example.com/path/to/resource"
protocol = extract_protocol(url)

if protocol:
    print("Protocol:", protocol)
else:
    print("No protocol found in the URL.")

Protocol: https

36. Find the frequency of each character in a string.

In [86]:

# initializing string
nor_str = "Pwskills"
 

all_freq = {}
 
for i in nor_str: 
    if i in all_freq:
        
        all_freq[i] += 1
    else:
        all_freq[i] = 1
 
# printing result
print("Count of all characters in GeeksforGeeks is :\n "
      + str(all_freq))

1
1
Count of all characters in GeeksforGeeks is :
 {'P': 1, 'w': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

In [87]:
test_str = "Gfg, is best : for ! Geeks ;"
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i  in test_str:
    if  i in punc:
        test_str=test_str.replace(i,"")
print(test_str)

Gfg is best  for  Geeks

38. Check if a string contains only digits.

In [88]:
num_str="dwdd142d5"
num_str.isdigit()

False

39. Check if a string contains only alphabets.

In [90]:
nor_str="dwdd142d5"
nor_str.isalpha()

False

40. Convert a string to a list of characters.

In [101]:
sen_str="dwdd142d5"
list_str=list(sen_str)
print(list_str)

['d', 'w', 'd', 'd', '1', '4', '2', 'd', '5']

In [106]:

opt = "abc"
opts= "bca"
if sorted(a)==sorted(opts):
    print("True")

else:
    print("NA")

True

42. Encode a string using a Caesar cipher.

In [107]:
def caesar_cipher_encrypt(text, shift):
    result = ""

    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()

            # Shift the character by the specified amount
            char_code = ord(char)
            char_code = (char_code - ord('A' if is_upper else 'a') + shift) % 26
            char_code += ord('A' if is_upper else 'a')

            result += chr(char_code)
        else:
            # Keep non-alphabetic characters unchanged
            result += char

    return result

# Example usage
plaintext = "Hello, World!"
shift_amount = 3
ciphertext = caesar_cipher_encrypt(plaintext, shift_amount)

print("Plaintext:", plaintext)
print("Ciphertext:", ciphertext)

Plaintext: Hello, World!
Ciphertext: Khoor, Zruog!

44. Find the most frequent word in a string.

In [11]:
nor_freq="a in she he she are the."
count=0
split_nor_freq=nor_freq.split()
for i in split_nor_freq:
    if i in split_nor_freq:
        count+=1
print(count)

7

45.Find all unique words in a string.

In [6]:
string = "the hello world"
s=list(string)
unique_letter=[]
for letter in s:
    if letter not in unique_letter:
        unique_letter.append(letter)
print(unique_letter)

['t', 'h', 'e', ' ', 'l', 'o', 'w', 'r', 'd']

46. Count the number of syllables in a string.

In [13]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    in_vowel_sequence = False

    # Loop through each character in the word
    for char in word:
        # Check if the character is a vowel
        if char in vowels:
            # If not already in a vowel sequence, increment the count
            if not in_vowel_sequence:
                count += 1
                in_vowel_sequence = True
        else:
            # Reset the flag when a non-vowel is encountered
            in_vowel_sequence = False

    return count

def count_syllables_in_string(input_string):
    # Split the string into words
    words = input_string.split()

    # Count syllables for each word and sum the counts
    total_syllables = sum(count_syllables(word) for word in words)

    return total_syllables

# Example usage:
input_string = "Count the number of syllables in a string."
result = count_syllables_in_string(input_string)
print("Total syllables:", result)

Total syllables: 10

47. Check if a string contains any special characters.

In [20]:
mix = "hello ,word. ; what is the! m #"
new_mix = list(mix)
new=[]

for i in new_mix:
    if i in '<>?:{}!@#$%^&*()+-*/,./;' :
        new.append(i)
print(len(new))

5

48. Remove the nth word from a string.

In [30]:
string = " hi this is chandan i joined pwskills"
i = int(input("enter the index:"))
split_words =string.split()
split_words.pop(i)
join_sen=" ".join(split_words)
print(join_sen)

enter the index: 3

hi this is i joined pwskills

49. Insert a word at the nth position in a string.

In [32]:
string = " hi this is chandan i joined pwskills"
i = int(input("enter the index:"))
element = input("enter the word:")
split_words =string.split()
split_words.insert(i,element)
join_sen=" ".join(split_words)
print(join_sen)

enter the index: 2
enter the word: rohan

hi this rohan is chandan i joined pwskills

50. Convert a CSV string to a list of lists.

In [33]:
def csv_string_to_list_manual(csv_string):
    # Split the CSV string into lines
    lines = csv_string.strip().split('\n')

    # Split each line into values and create a list of lists
    csv_list = [line.split(',') for line in lines]

    return csv_list

# Example usage:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
result_manual = csv_string_to_list_manual(csv_string)
print("List of lists from CSV string (manual):", result_manual)

List of lists from CSV string (manual): [['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [4]:
lis=[]
for i in range(1,11):
    lis.append(i)
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Find the length of a list without using the `len()` function.

In [8]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = 0
for i in lis:
    if i == None:
        print('stop')
    else:
        length+=1
print(f'length of list is {length}')

length of list is 10

3. Append an element to the end of a list.

In [11]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis.append(11)
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [13]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis.insert(2,2.5)
print(lis)

[1, 2, 2.5, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [15]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis.remove(2)
print(lis)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [17]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis.pop(2)
print(lis)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [18]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ele=12
if ele in lis :
    print("present")
else :
    print("not present")

not present

8. Find the index of the first occurrence of an element in a list.

In [19]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis.index(3)

2

9. Count the occurrences of an element in a list.

In [20]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 5,9, 10, 5]
lis.count(5)

3

10. Reverse the order of elements in a list.

In [22]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 5,9, 10, 5]
lis.reverse()
print(lis)

[5, 10, 9, 5, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [25]:
lis = [5, 10, 9, 5, 8, 7, 6, 5, 4, 3, 2, 1]
lis.sort()
lis

[1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [26]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 5,9, 10, 5]
lis.sort(reverse= True)
print(lis)

[10, 9, 8, 7, 6, 5, 5, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [28]:
lis = []
for i in range(1,21):
    if  i%2==0:
        lis.append(i)
print(lis)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [29]:
lis = []
for i in range(1,21):
    if  i%2!=0:
        lis.append(i)
print(lis)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [34]:
i=0
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for j in lis:
    i=i+j
print(i)
sum(lis)

55

55

16. Find the maximum value in a list.

In [39]:
lis = [1, 2, 3, 4, 5,12, 6, 7, 8,24, 9, 10]
j = 0
for i in lis:
    if i > j:
        j=i
    else:
        continue
        
print('max number in list is:',j)
max(lis)

max number in list is: 24

24

17. Find the minimum value in a list.

In [45]:
lis = [1, 2, 3, 4, 5,12, 6,0, 7, 8,24, 9, 10]
min_value = lis[0]
for value in lis:
    if value < min_value:
        min_value = value
print('min number in list is:',min_value)

min number in list is: 0

18. Create a list of squares of numbers from 1 to 10.

In [47]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
j=[]
for i  in  lis:
    i=i**2
    j.append(i)
print(j)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [52]:
import random
length = 250
random_numbers = [random.randint(1,500)for i in range(length) ]
print(random_numbers)

[312, 66, 300, 281, 103, 442, 221, 380, 273, 286, 128, 332, 27, 206, 495, 41, 367, 308, 205, 191, 116, 193, 185, 396, 123, 482, 66, 20, 365, 53, 290, 143, 21, 317, 6, 184, 94, 27, 395, 433, 259, 168, 115, 118, 113, 27, 291, 404, 4, 499, 451, 78, 168, 74, 459, 106, 386, 456, 443, 226, 56, 107, 332, 474, 446, 213, 21, 347, 216, 265, 327, 108, 272, 160, 148, 422, 87, 306, 477, 121, 339, 289, 319, 222, 290, 394, 331, 186, 28, 348, 343, 150, 147, 461, 285, 410, 196, 427, 198, 272, 13, 337, 189, 231, 438, 415, 153, 358, 18, 332, 159, 396, 238, 151, 143, 54, 373, 186, 418, 3, 105, 28, 500, 408, 429, 22, 326, 15, 40, 434, 484, 442, 66, 479, 444, 60, 83, 107, 268, 66, 356, 257, 481, 45, 125, 283, 309, 321, 72, 310, 6, 3, 225, 443, 326, 484, 286, 140, 77, 483, 474, 240, 266, 323, 446, 314, 357, 415, 299, 454, 488, 379, 190, 342, 228, 394, 83, 179, 343, 214, 272, 346, 44, 492, 450, 93, 369, 127, 447, 321, 449, 410, 318, 102, 488, 303, 327, 28, 215, 53, 128, 83, 429, 65, 487, 131, 232, 200, 191, 247, 491, 314, 132, 7, 464, 487, 414, 455, 262, 68, 229, 384, 452, 301, 346, 435, 413, 166, 270, 241, 8, 85, 381, 420, 415, 122, 356, 396, 356, 493, 144, 224, 189, 196, 480, 257, 446, 193, 143, 142]

20. Remove duplicates from a list.

In [55]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]


# Create a new list with unique elements by iterating through the original list
unique_list_iter = []
for item in lis:
    if item not in unique_list_iter:
        unique_list_iter.append(item)

print("Original list:", lis)
print("List with duplicates removed (using iteration):", unique_list_iter)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]
List with duplicates removed (using iteration): [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

21. Find the common elements between two lists.

In [58]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
original_list = [1, 2, 2, 3, 4, 4, 5]
common_list=[]
for i in lis:
    if i in original_list:
        common_list.append(i)
print(common_list)

[1, 2, 3, 4, 5]

22. Find the difference between two lists.

In [59]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
original_list = [1, 2, 2, 3, 4, 4, 5]
common_list=[]
for i in lis:
    if i not in original_list:
        common_list.append(i)
print(common_list)

[6, 7, 8, 9, 10]

23. Merge two lists.

In [1]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
original_list = [1, 2, 2, 3, 4, 4, 5]
common_list=lis + original_list
print(common_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 2, 3, 4, 4, 5]

24.Multiply all elements in a list by 2.

In [7]:
lis=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
multiple_lis=[x*2 for x in lis ]
multiple_lis

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [9]:
numbers = [2, 1,4, 6,3, 8,7, 10, 12,9, 14, 16, 18, 20]
filter_num=[num for num in numbers if num % 2 != 0]
filter_num

[1, 3, 7, 9]

26. Convert a list of strings to a list of integers.

In [13]:
string_list = ["1", "2", "3", "4", "5"]
int_list=[int(num) for num in string_list]
int_list

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [14]:
int_list= [1, 2, 3, 4, 5]
string_list=[str(num) for num in int_list]
string_list

['1', '2', '3', '4', '5']


28. Flatten a nested list.

In [15]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [18]:
def Fibonacci(n):
 
    # Check if input is 0 then it will
    # print incorrect input
    if n < 0:
        print("Incorrect input")
 
    # Check if n is 0
    # then it will return 0
    elif n == 0:
        return 0
 
    # Check if n is 1,2
    # it will return 1
    elif n == 1 or n == 2:
        return 1
 
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)
 
 
# Driver Program
print(Fibonacci(9))

34

30.Check if a list is sorted.

In [23]:
asc_list= [1, 2, 3,6, 4, 5]

all(asc_list[i] <= asc_list[i + 1] for i in range(len(asc_list) - 1))

False

31.Rotate a list to the left by `n` positions.

In [26]:
test_list = [1, 4, 6, 7, 2]
 
# printing original list
print ("Original list : " + str(test_list))
 
# using slicing to left rotate by 3
test_list = test_list[3:] + test_list[:3]
 
# Printing list after left rotate
print ("List after left rotate by 3 : " + str(test_list))

Original list : [1, 4, 6, 7, 2]
List after left rotate by 3 : [7, 2, 1, 4, 6]

31.Rotate a list to the right by n positions.

In [27]:
test_list = [1, 4, 6, 7, 2]
 
# printing original list
print ("Original list : " + str(test_list))
 
# using slicing to left rotate by 3
test_list = test_list[2:] + test_list[:2]
 
# Printing list after left rotate
print ("List after left rotate by 3 : " + str(test_list))

Original list : [1, 4, 6, 7, 2]
List after left rotate by 3 : [6, 7, 2, 1, 4]

33. Create a list of prime numbers up to 50.

In [47]:

newlist=[]
for num in range(1,51):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
        newlist.append(num)
newlist

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [43]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 2
for i in range(start, end, step): 
    x = i 
    print(my_list[x:x+step])

[1, 2]
[3, 4]
[5, 6]
[7, 8]
[9]

35.Find the second largest number in a list.

In [47]:
test_list = [1, 4, 6, 7, 2]
test_list.sort()
print(test_list[-2])

6

36. Replace every element in a list with its square.

In [48]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
j=[]
for i  in  lis:
    i=i**2
    j.append(i)
print(j)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

37.Convert a list to a dictionary where list elements become keys and their
indices become values.

In [50]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
dic_list={value:index for index ,value in enumerate(lis)}
dic_list

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}

38. Shuffle the elements of a list randomly.

In [52]:
import random
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(lst)
lst

[8, 7, 6, 10, 4, 5, 2, 3, 1, 9]

39. Create a list of the first 10 factorial numbers.

In [53]:
import math

# Create a list of the first 10 factorial numbers
factorial_numbers = [math.factorial(i) for i in range(10)]

# Print the list
print("Factorial numbers:", factorial_numbers)

Factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [55]:
list1 = [1, 2, 3, 4, 10]
list2 = [5, 6, 7, 8, 9]
lst=any(element in list2 for element in list1)
if lst:
    print("common element")
else :
    print("no common element")

no common element

41. Remove all elements from a list.

In [5]:
my_list = [1, 2, 3, 4, 5]

# Use the clear() method to remove all elements
my_list.clear()

print("List after clearing:", my_list)

List after clearing: []

42. Replace negative numbers in a list with 0.

In [44]:
my_list = [1, 2, 3, -4, 5 ,]
for i  in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
        
my_list

[1, 2, 3, 0, 5]

43. Convert a string into a list of words.

In [11]:
words = "hello i joined the course called FSDS"
split_words=words.split()
split_words
type(split_words)

list

44.Convert a list of words into a string.

In [15]:
list_words=['hello', 'i', 'joined', 'the', 'course', 'called', 'FSDS']
string = " ".join(list_words)
string
type(string)

str

45. Create a list of the first `n` powers of 2.

In [17]:
n=10
pow_list=[i**2 for i in range(n+1)]
pow_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46. Find the longest string in a list of strings.

In [49]:
words = "hello i joined the course called FSDSsss"
split_words=words.split()
Max_num = 0
Max_char=""

for i in split_words:
    if Max_num < len(i):
        Max_char=i
        Max_num=len(i)
Max_char,Max_num

('FSDSsss', 7)

47. Find the shortest string in a list of strings.

In [51]:
words = "hello i joined the course called FSDSsss"
split_words=words.split()
Max_num = len(split_words[0])
Max_char=""

for i in split_words:
    if Max_num > len(i):
        Max_char=i
        Max_num=len(i)
Max_char,Max_num

('i', 1)

48. Create a list of the first `n` triangular numbers.

In [57]:
n=10

triangular_numbers = []

triangular_numbers_list=[((i * (i + 1)) // 2) for i in range(1, n + 1)]
print(triangular_numbers_list)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]


49.Check if a list contains another list as a subsequence.

In [10]:
main_list = [1, 2,3, 4, 5 , 6, 7,8]
sub_list = [3, 4, 5]
len_sub = len(sub_list)
len_lst = len(main_list)
if len_sub > len_lst:
     False
for i in range(len_lst - len_sub + 1):
    if main_list[i:i + len_sub] == sub_list:
        print(True)

True

50. Swap two elements in a list by their indices.

In [18]:
main_list = [1, 2,3, 4, 5 , 6, 7,8]
first_num=5 # input("enter the swap 1st number")
sec_num= 2 #input("enter the swap 2st number")
index_1=main_list.index(first_num)
index_2=main_list.index(sec_num)

main_list.pop(index_1)
main_list.pop(index_2)

main_list.insert(index_1,sec_num)
main_list.insert(index_2,first_num)


main_list

[1, 5, 3, 4, 6, 2, 7, 8]



Tuple Based Practice Problem :


1. Create a tuple with integers from 1 to 5.

In [4]:
my_tuple =  (1,2,3,4,5)
type(my_tuple)

tuple

2. Access the third element of a tuple.

In [6]:
my_tuple =  (1,2,3,4,5)
tuple[2]

tuple[2]

3. Find the length of a tuple without using the `len()` function.

In [15]:
my_tuple =  (1,2,3,4,5)
num_len=0
for i in my_tuple:
    if i != 0:
        num_len=num_len+1
    else:
        print(None)
print(num_len)

5

4. Count the occurrences of an element in a tuple.

In [17]:
my_tuple =  (1,2,3,4,5,3)
my_tuple.count(3)

2

5. Find the index of the first occurrence of an element in a tuple.

In [18]:
my_tuple =  (1,2,3,4,5,3)
my_tuple.index(1)

0

6. Check if an element exists in a tuple.

In [24]:
my_tuple =  (1,2,3,4,5)
i=3
if i in my_tuple:
    print('element', i ,'found','at index',my_tuple.index(i))
else:
    print('element not found')

element 3 found at index 2

7. Convert a tuple to a list.

In [27]:
my_tuple =  (1,2,3,4,5)
print(type(my_tuple))
my_list=list(my_tuple)
print(type(my_list))

<class 'tuple'>
<class 'list'>


8.Convert a list to a tuple.

In [29]:
my_list= [1,2,3,4,5]
print(type(my_list))
my_tuple=tuple(my_list)
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

9. Unpack the elements of a tuple into variables.

In [30]:
my_tuple = (1, 2, 3, 4, 5)

# Unpack the elements into variables
a,b,c,d,e= my_tuple

# Now you can use the variables
print(a,b,c,d,e)

1 2 3 4 5

10. Create a tuple of even numbers from 1 to 10.

In [33]:
evennum=tuple(i for i in range(1,11) if i %2==0)
evennum

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [35]:
oddnum=tuple(i for i in range(1,11) if i %2!=0)
oddnum

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [37]:
even_num=(2, 4, 6, 8, 10)
odd_num=(1, 3, 5, 7, 9)
my_num=even_num + odd_num
my_num

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [39]:
my_tuple = (1, 2, 3, 4, 5)
repeated_tuple = my_tuple * 3
repeated_tuple

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [46]:
my_tuple = ()

if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")
    
# the another way

my_tuple = ()

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.
The tuple is empty.

15. Create a nested tuple.

In [49]:
nested_tuple = tuple(tuple(range(1, i+1)) for i in range(1, 5))
nested_tuple

((1,), (1, 2), (1, 2, 3), (1, 2, 3, 4))

16. Access the first element of a nested tuple.

In [59]:
nested_tuple = tuple(tuple(range(1, i+1)) for i in range(1, 5))
print(nested_tuple)
print(nested_tuple[3][3])

((1,), (1, 2), (1, 2, 3), (1, 2, 3, 4))
4

17. Create a tuple with a single element.

In [62]:
tuple_ele =(9,)
type(tuple_ele)

tuple

18. Compare two tuples.

In [64]:
tuple1 = (1, 2, 3,6)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are not equal.

19. Delete a tuple.

In [66]:
my_tuple = (1, 2, 3, 4, 5)

# Delete the tuple
del my_tuple

In [67]:
my_tuple = (1, 2, 3, 4, 5)



sliced_tuple = my_tuple[1:3]

print(sliced_tuple)

(2, 3)

21. Find the maximum value in a tuple.

In [69]:
my_tuple = (1, 2, 3, 4, 5)
max(my_tuple)

5

22. Find the minimum value in a tuple.

In [70]:
my_tuple = (1, 2, 3, 4, 5)
min(my_tuple)

1

23. Convert a string to a tuple of characters.

In [74]:
my_string = "Hello, World!"
mytuple=tuple( my_string)
mytuple

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [75]:
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string
result_string = ''.join(char_tuple)

print(result_string)

Hello, World!

25. Create a tuple from multiple data types.

In [76]:
mixed_tuple = ('apple', 42, 3.14, False)
mixed_tuple

('apple', 42, 3.14, False)

26. Check if two tuples are identical.

In [77]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

27. Sort the elements of a tuple.

In [78]:
my_tuple = (4, 1, 7, 2, 5)

# Convert the tuple to a list,
#sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(list(my_tuple)))

print(sorted_tuple)

(1, 2, 4, 5, 7)

28. Convert a tuple of integers to a tuple of strings.

In [79]:
tuple_of_integers = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(i) for i in tuple_of_integers)

print(tuple_of_strings)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [80]:
tuple_of_strings=('1', '2', '3', '4', '5')

tuple_of_integers = tuple(int(i) for i in tuple_of_strings)

tuple_of_integers

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [81]:
even_num=(2, 4, 6, 8, 10)
odd_num=(1, 3, 5, 7, 9)
my_num=even_num + odd_num
my_num

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

31. Flatten a nested tuple.

In [82]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Flatten the nested tuple
flattened_tuple = tuple(item for sub_tuple in nested_tuple for item in sub_tuple)

print(flattened_tuple)

(1, 2, 3, 'a', 'b', 'c', True, False)

32. Create a tuple of the first 5 prime numbers.

In [124]:
mylist= []
for num in range(2, 5 + 1):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(2, num):
           
            if (num % i) == 0:
                break
        else:
            mylist.append(num)
mytuple = tuple(mylist)
mytuple

2
2
2
3
4

(2, 3, 5)

33. Check if a tuple is a palindrome.

In [125]:
palindrome_tuple = (1, 2, 3, 4, 3, 2, 1)
palindrome_tuple==palindrome_tuple[::-1]

True

34. Create a tuple of squares of numbers from 1 to 5.

In [128]:
my_tuple = tuple(i*i for i  in range(6) )
my_tuple

(0, 1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [133]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(filter( lambda i : i%2==0,original_tuple))
filtered_tuple

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [134]:
my_tuple = tuple(i*2 for i  in range(6) )
my_tuple

(0, 2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [138]:
import  random
my_tuple = tuple(random.randint(1,6) for i in range (5) )
my_tuple

(4, 6, 3, 6, 1)

38. Check if a tuple is sorted.

In [141]:
input_tuple=(4, 6, 3, 6, 1)
input_tuple == tuple(sorted(input_tuple))

False

39. Rotate a tuple to the left by `n` positions.

In [148]:
original_tuple = (1, 2, 3, 4, 5)
n=2
n = n % len(original_tuple)  # Ensure n is within the length of the tuple
rotated_tuple=original_tuple[n:] + original_tuple[:n]

rotated_tuple

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [153]:
original_tuple = (1, 2, 3, 4, 5)
n=2
n = n % len(original_tuple)  # Ensure n is within the length of the tuple
rotated_tuple=original_tuple[-n:] + original_tuple[:-n]

rotated_tuple

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [157]:
n=5
fibonacci_sequence = [0, 1]
while len(fibonacci_sequence) < n:
    next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_number)
    tuple(fibonacci_sequence)
fibonacci_sequence

[0, 1, 1, 2, 3]

42. Create a tuple from user input.

In [158]:
input_str = input("Enter elements separated by spaces: ")

# Convert the input string into a tuple
user_tuple = tuple(map(int, input_str.split()))

# Display the resulting tuple
print("User input tuple:", user_tuple)

Enter elements separated by spaces:  10

User input tuple: (10,)

43. Swap two elements in a tuple.

In [159]:
original_tuple = (1, 2, 3, 4)

# Swap elements at positions 1 and 2
swapped_tuple = original_tuple[:1] + (original_tuple[2],) + original_tuple[1:2] + (original_tuple[1],) + original_tuple[3:]

print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4)
Swapped Tuple: (1, 3, 2, 2, 4)

44. Reverse the elements of a tuple.

In [160]:
original_tuple = (1, 2, 3, 4, 5)

# Reverse the elements of the tuple
reversed_tuple = original_tuple[::-1]

print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [163]:
sq_tuple=tuple(2**i for i in range(6))
sq_tuple

(1, 2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [166]:
strings_tuple = ("apple", "banana", "kiwi", "strawberry", "orange")


longest_string = max(strings_tuple, key=len)

print("Longest String:", longest_string)

Longest String: strawberry

47. Find the shortest string in a tuple of strings.

In [167]:
strings_tuple = ("apple", "banana", "kiwi", "strawberry", "orange")


longest_string = min(strings_tuple, key=len)

print("Longest String:", longest_string)

Longest String: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [168]:
triangular_numbers_tuple =tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
triangular_numbers_tuple

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [175]:
larger_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
subsequence_tuple = (3, 4, 5)
n = len(subsequence_tuple)
for i in range(len(larger_tuple) - n + 1):
    if larger_tuple[i:i + n] == subsequence_tuple:
        print(True)

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [176]:
alternating_tuple=tuple((i % 2) for i in range(8))

print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [1]:
set_elems=set()
for i in range (0,6):
    set_elems.add(i)
set_elems

{0, 1, 2, 3, 4, 5}

2. add an element from a set.

In [1]:
# Creating a set
my_set = {1, 2, 3}

# Adding an element to the set
my_set.add(4)

# Displaying the updated set
print(my_set)

{1, 2, 3, 4}

In [2]:
# Creating a set
my_set = {1, 2, 3}

# Adding an element to the set
my_set.discard(3)

# Displaying the updated set
print(my_set)

{1, 2}

4. Check if an element exists in a set.

In [6]:
my_set = {1, 2, 3}
num=4
if  num in my_set:
    print(True)
else:
    print(False)

False

5. Find the length of a set without using the `len()` function.

In [9]:
my_set = {}
count=0
for i in my_set:
    if i == None:
        print("None")
    else:
        count=count+1
count

0

6. Clear all elements from a set.

In [12]:
my_set = {1, 2, 3}
my_set.clear()
my_set

set()

7. Create a set of even numbers from 1 to 10.

In [16]:
even= tuple(i for i in range(1,11) if i%2==0)
even

(2, 4, 6, 8, 10)

8. Create a set of odd numbers from 1 to 10.

In [17]:
odd= tuple(i for i in range(1,11) if i%2!=0)
odd

(1, 3, 5, 7, 9)

9. Find the union of two sets.

In [18]:
set_1={2, 4, 6, 8, 10}
set_2={1, 3, 5, 7, 9}
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [19]:
set_1={2, 4, 6, 8, 10}
set_2={1, 3, 5, 7, 9}
set_1.intersection(set_2)

set()

11. Find the difference between two sets.

In [22]:
set_1={2, 4, 6, 8, 10}
set_2={1, 3, 5, 7, 9,10}
set_1.difference(set_2)

{2, 4, 6, 8}

12. Check if a set is a subset of another set.

In [23]:
set_1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_2={2, 4, 6, 8}
set_2.issubset(set_1)

True

13. Check if a set is a superset of another set.

In [25]:

set_1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_2={2, 4, 6, 8}
set_1.issuperset(set_2)

True

14. Create a set from a list.

In [27]:
list_1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
set_1=set(list_1)
set_1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

15. Convert a set to a list.

In [28]:
set_1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
list_1=list(set_1)
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

16. pop a  element from a set.

In [31]:
set_1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
removed=set_1.pop()
set_1
removed

1

17.remove the random element form the set

In [33]:
import random

my_set = {1, 2, 3, 4, 5}

# Convert the set to a list and remove a random element
random_element = random.choice(list(my_set))
my_set.remove(random_element)

print(f"Removed element: {random_element}")
print(f"Updated set: {my_set}")

Removed element: 5
Updated set: {1, 2, 3, 4}

18. Check if two sets have no elements in common.

In [41]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Check if sets have no elements in common
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one common element.")

The sets have no elements in common.

19. Find the symmetric difference between two sets.

In [43]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_diff = set1 ^ set2
symmetric_diff

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [45]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [49]:
newset=set()
for num in range(1,51):
    
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
        newset.add(num)
newset

{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47}

22. Check if two sets are identical.

In [51]:

set1 = {1, 2, 3, 4}
set2 = {1, 2, 3,6}

# Check if sets are identical using the == operator
are_identical = set1 == set2

if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are not identical.

In [52]:
my_set = {1, 2, 3, 4, 5}

# Create a frozen set
my_frozen_set = frozenset(my_set)

print("Original set:", my_set)
print("Frozen set:", my_frozen_set)

Original set: {1, 2, 3, 4, 5}
Frozen set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [53]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Check if sets are disjoint
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets are not disjoint (have at least one common element).")

The sets are disjoint (have no elements in common).

25. Create a set of squares of numbers from 1 to 5.

In [54]:
squares_set = {x**2 for x in range(1, 6)}

print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [55]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers
filtered_set = {x for x in original_set if x % 2 != 0}

print("Original set:", original_set)
print("Filtered set (without even numbers):", filtered_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered set (without even numbers): {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [56]:

# Multiply all elements by 2 and create a new set
multiplied_set = {x * 2 for x in original_set}

print("Original set:", original_set)
print("Multiplied set:", multiplied_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Multiplied set: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.

In [57]:
import random

# Create a set of 5 random numbers between 1 and 10
random_set = {random.randint(1, 10) for _ in range(5)}

print("Random set:", random_set)

Random set: {1, 10, 4}

29. Check if a set is empty.

In [58]:
my_set = set()

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [59]:
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({'c', 'b', 'a'})}

31. Remove an element from a set using the discard method.

In [60]:
my_set = {1, 2, 3, 4, 5}

# Remove element 3 using discard
my_set.discard(3)

print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5}

32. Compare two sets.

In [61]:
set1 = {1, 2, 3, 4}
set2 = {2, 3}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

33. Create a set from a string.

In [62]:
my_string = "hello"

# Create a set from the string
my_set = set(my_string)

print("Original string:", my_string)
print("Set from string:", my_set)

Original string: hello
Set from string: {'l', 'o', 'e', 'h'}

34. Convert a set of strings to a set of integers.

In [64]:
set_of_strings = {"1", "2", "3", "4", "5"}

# Convert set of strings to set of integers
set_of_integers = set(set_of_strings)

print("Set of strings:", set_of_strings)
print("Set of integers:", set_of_integers)

Set of strings: {'3', '4', '2', '5', '1'}
Set of integers: {'3', '4', '2', '5', '1'}

35. Convert a set of integers to a set of strings.

In [68]:
set_of_integers = {1, 2, 3, 4, 5}

# Convert set of integers to set of strings
set_of_strings = str( set_of_integers)

print("Set of integers:", set_of_integers)
print("Set of strings:", set_of_strings)
type(set_of_strings)

Set of integers: {1, 2, 3, 4, 5}
Set of strings: {1, 2, 3, 4, 5}

str

36. Create a set from a tuple.

In [69]:
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

print("Original tuple:", my_tuple)
print("Set from tuple:", my_set)

Original tuple: (1, 2, 3, 4, 5)
Set from tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [70]:
my_set = {1, 2, 3, 4, 5}

# Convert set to tuple
my_tuple = tuple(my_set)

print("Original set:", my_set)
print("Tuple from set:", my_tuple)

Original set: {1, 2, 3, 4, 5}
Tuple from set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [73]:
my_set = {1, 2, 3, 4, 5}

# Find the maximum value in the set
max_value = max(my_set)

print("Original set:", my_set)
print("Maximum value:", max_value)

Original set: {1, 2, 3, 4, 5}
Maximum value: 5

In [74]:
my_set = {1, 2, 3, 4, 5}

# Find the minimum value in the set
max_value = min(my_set)

print("Original set:", my_set)
print("Minimum value:", max_value)

Original set: {1, 2, 3, 4, 5}
Minimum value: 1

40. Create a set from user input.

In [81]:
user_input=input('enter the numbers:')
user_input

enter the numbers: 1,2,3

{'1,2,3'}

In [84]:
user_input_str = input("Enter values separated by commas: ")

# Convert the string to a list and then to a set
user_set = set(map(int, user_input_str.split(',')))

print("User input as set:", user_set)

Enter values separated by commas:  1,2,3

User input as set: {1, 2, 3}

41. Check if the intersection of two sets is empty.

In [85]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Check if the intersection is empty using intersection()
intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection is empty.")
else:
    print("The sets have common elements.")

The sets have common elements.

43. Remove duplicates from a list using sets.

In [86]:
original_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using sets
unique_list = list(set(original_list))

print("Original list:", original_list)
print("List with duplicates removed:", unique_list)

Original list: [1, 2, 2, 3, 4, 4, 5]
List with duplicates removed: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [87]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if sets have the same elements (regardless of count)
same_elements = set1 == set2

if same_elements:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [88]:
n = 5  # You can replace this with any desired value for 'n'

# Create a set of the first n powers of 2
powers_of_2_set = {2**i for i in range(n)}

print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [89]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find common elements using intersection method
common_elements_method = my_set.intersection(my_list)

# Find common elements using the & operator
common_elements_operator = my_set & set(my_list)

print("Set:", my_set)
print("List:", my_list)
print("Common elements (using intersection method):", common_elements_method)
print("Common elements (using & operator):", common_elements_operator)

Set: {1, 2, 3, 4, 5}
List: [3, 4, 5, 6, 7]
Common elements (using intersection method): {3, 4, 5}
Common elements (using & operator): {3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [90]:
triangular_numbers_tuple =set((i * (i + 1)) // 2 for i in range(1, n + 1))
triangular_numbers_tuple

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [91]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

49. Create a set of alternating 1s and 0s of length `n`.

In [92]:
n = 8  # You can replace this with any desired value for 'n'

# Create a set of alternating 1s and 0s
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 8: {0, 1}

50. Merge multiple sets into one.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets using union() method
merged_set_method = set1.union(set2, set3)

# Merge sets using | (pipe) operator
merged_set_operator = set1 | set2 | set3

print("Set 1:", set1)
print("Set 2:", set2)
print("Set 3:", set3)
print("Merged set (using union() method):", merged_set_method)
print("Merged set (using | operator):", merged_set_operator)